USE [TaskManagerDb]
GO
/****** Object:  Table [dbo].[RefreshTokens]    Script Date: 07-01-2026 21:50:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RefreshTokens](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[Token] [nvarchar](255) NULL,
	[ExpiresAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tasks]    Script Date: 07-01-2026 21:50:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tasks](
	[TaskId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[Title] [nvarchar](200) NULL,
	[Description] [nvarchar](1000) NULL,
	[DueDate] [date] NULL,
	[Priority] [nvarchar](10) NULL,
	[Status] [nvarchar](10) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TaskId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 07-01-2026 21:50:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[RefreshTokens] ON 

INSERT [dbo].[RefreshTokens] ([Id], [UserId], [Token], [ExpiresAt]) VALUES (86, 6, N'066cfabe-2688-4b11-9a0a-f150e8f11180', CAST(N'2026-01-14T12:31:25.220' AS DateTime))
INSERT [dbo].[RefreshTokens] ([Id], [UserId], [Token], [ExpiresAt]) VALUES (87, 6, N'34ad8b94-21bc-4201-a4fc-fef0399c5a01', CAST(N'2026-01-14T12:31:59.800' AS DateTime))
INSERT [dbo].[RefreshTokens] ([Id], [UserId], [Token], [ExpiresAt]) VALUES (88, 6, N'536f8168-0790-4af2-a786-3a85000ddd0b', CAST(N'2026-01-14T12:37:10.660' AS DateTime))
SET IDENTITY_INSERT [dbo].[RefreshTokens] OFF
GO
SET IDENTITY_INSERT [dbo].[Tasks] ON 

INSERT [dbo].[Tasks] ([TaskId], [UserId], [Title], [Description], [DueDate], [Priority], [Status], [CreatedAt]) VALUES (6, 8, N'ccc', N'cccc', CAST(N'2026-01-10' AS Date), N'Medium', N'Pending', NULL)
INSERT [dbo].[Tasks] ([TaskId], [UserId], [Title], [Description], [DueDate], [Priority], [Status], [CreatedAt]) VALUES (7, 6, N'abc', N'abc1', CAST(N'2026-01-16' AS Date), N'Medium', N'Pending', NULL)
INSERT [dbo].[Tasks] ([TaskId], [UserId], [Title], [Description], [DueDate], [Priority], [Status], [CreatedAt]) VALUES (8, 6, N'Test', N'Test', CAST(N'2026-01-16' AS Date), N'Medium', N'Pending', NULL)
SET IDENTITY_INSERT [dbo].[Tasks] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Username], [PasswordHash], [Role]) VALUES (6, N'admin', N'$2b$10$gb0xMvRGjQJWvRTedEGb3uX0FCPsYtSGgNhOCvKRJTIapu6jUOW9a', N'Admin')
INSERT [dbo].[Users] ([UserId], [Username], [PasswordHash], [Role]) VALUES (7, N'user', N'$2b$10$RlqITG8LKN7ww8ZrwQ2XbebkZvyWpQc2hPEgb2kcwXQwsjrXde4Lu', N'User')
INSERT [dbo].[Users] ([UserId], [Username], [PasswordHash], [Role]) VALUES (8, N'vallireddykishor', N'$2b$10$OxDvj5za8NMhnrU6A9eKdOJk71xjbQOnF8kbU83ZVQt4SxhkjBQR.', N'User')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4C82E021C]    Script Date: 07-01-2026 21:50:28 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RefreshTokens]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_Role] CHECK  (([Role]='Admin' OR [Role]='User'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_Role]
GO
